In [57]:
import pandas as pd

dataset = pd.read_csv('../202404161409.csv')
dataset = dataset.dropna()
col= ['timestamp','left_gaze_point_on_display_area','right_gaze_point_on_display_area']
dataset = dataset[col]
dataset.head(5)

,timestamp,left_gaze_point_on_display_area,right_gaze_point_on_display_area
2,2024-04-16 14:09:56.628036,"(0.37486732006073, 0.3551793396472931)","(0.4709654748439789, 0.3332173526287079)"
3,2024-04-16 14:09:56.645022,"(0.3871181011199951, 0.34734249114990234)","(0.46238985657691956, 0.3461151421070099)"
4,2024-04-16 14:09:56.661578,"(0.382940411567688, 0.361712247133255)","(0.4645237922668457, 0.35362595319747925)"
5,2024-04-16 14:09:56.678674,"(0.382291704416275, 0.3609617054462433)","(0.46658000349998474, 0.3534100651741028)"
6,2024-04-16 14:09:56.695093,"(0.3853317201137543, 0.3518931567668915)","(0.4616974890232086, 0.3500823378562927)"

In [58]:
class Point:
    def __init__(self, x,y):
        self.x = x
        self.y = y

In [ ]:
for i in dataset['left_gaze_point_on_display_area']:
    period = i.find(',')
    end = i.find(')')
    x = i[1:period-1]
    y = i[period+2:end]
    print(f"{x} & {y}")
    pt = Point(float(x),float(y))
    dataset['left_gaze_point-X'] = x
    dataset['left_gaze_point-Y'] = y

In [ ]:
dataset